<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true">
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./examples</directory>
            </exclude>
        </whitelist>
    </filter>
    
	<testsuites>
        <!--
		<testsuite>
			<file>test/LambdaTest.php</file>
		</testsuite>
		<testsuite>
			<file>test/IOTest.php</file>
		</testsuite>
		<testsuite>
			<file>test/CsvTest.php</file>
		</testsuite>
        -->
	</testsuites>
</phpunit>
